.admonition-cittadino {
	background-color: yellow;
	padding: 0.6em;
	position: relative;
	background: #00c5ca;
	/* border-radius: .4em; */
	margin-bottom: 40px;
}
.admonition-cittadino:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 30%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #00c5ca;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;	  
}

.admonition-cittadino .admonition-title {
	background-color: #ffffff;
	text-align: left;
	color: #000000;
}
.admonition-pa {
	background-color: yellow;
	padding: 0.6em;
	position: relative;
	background: #00c5ca;
	/* border-radius: .4em; */
	margin-bottom: 40px;
}
.admonition-pa:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 70%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #00c5ca;
	border-bottom: 0;
	border-right: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

.admonition-pa .admonition-title {
	background-color: #000000;
	text-align: right;
}
